@charset "utf-8";
/* CSS Document */

#CARD {
    background-color: #94D3FA;
    margin: auto;
    padding: 10px;
    height: 460px;
    width: 300px;
    border-radius: 10px;
    background-image: url(%E7%B4%A0%E6%9D%90/bg/MEOWMEOW_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201.png);
    background-repeat: no-repeat;
}
#PIC {
	background-color: #FDE0E1;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	height: 200px;
	width: 200px;
	background-image: url(%E7%B4%A0%E6%9D%90/head/MEOW.png);
	background-repeat: no-repeat;
	border-radius: 100px;
	background-position: center center;
}
#WORD {
    width: 60%;
    color: #8196C1;
}
#WORD ul li {
}
#WORD ul li {
}


#WORD {
	width: 60%;
}
#WORD {
	margin: auto;
	width: 60%;
}
